<h1 align=center><font size = 5>Segmenting and Clustering Neighborhoods in New York City - Assignment</font></h1>

## Andrea Lam

Assignment for Coursera Capstone project week three.

Import all necessary libraries for assignment:

In [16]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

In [17]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [18]:
import json # library to handle JSON files

In [19]:
# Matplotlib and associated plotting modules
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.colors as colors

In [23]:
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

In [24]:
# import k-means from clustering stage
from sklearn.cluster import KMeans

In [25]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

In [26]:
import folium

Get data imported.

In [ ]:
#Using Wikipedia library to quickly and cleanly import table.

In [83]:
import wikipedia as wp

html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")
try: 
    df = pd.read_html(html)[0]  # Try 2nd table first as most pages contain contents table first
except IndexError:
    df = pd.read_html(html)[1]

toronto = pd.DataFrame(df)
toronto.head()

#The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood. Check!

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [82]:
#Only process the cells that have an assigned BOROUGH. Ignore cells with a borough that is Not assigned.

toronto_clean = toronto[toronto.Borough != 'Not assigned']
toronto_clean.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [80]:
#In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

toronto_clean.shape

(103, 3)

Import longitude and latitude data for postal codes.

In [84]:
geodata = pd.read_csv('http://cocl.us/Geospatial_data')
geodata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Combine the two tables into one big table.

In [89]:
combine = pd.concat([toronto_clean, geodata], axis=1, sort=False)

result = combine.dropna()
result.head()

,Postal code,Borough,Neighborhood,Postal Code,Latitude,Longitude
2,M3A,North York,Parkwoods,M1E,43.763573,-79.188711
3,M4A,North York,Victoria Village,M1G,43.770992,-79.216917
4,M5A,Downtown Toronto,Regent Park / Harbourfront,M1H,43.773136,-79.239476
5,M6A,North York,Lawrence Manor / Lawrence Heights,M1J,43.744734,-79.239476
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,M1K,43.727929,-79.262029